body {
    background-image: url(../front-end/images/fundo.game.png);
}

nav {
    top: 0;
    width: 100%;
    position: absolute;
    padding-top: 20px;
    z-index: 1000;
}

nav img {
    width: 100px;
    margin-right: 662px;
}

#container {
    width: 90%;
    margin: 0;
    display: flex;
    justify-content: center;
}

a {
    font-family: 'B612 Mono', monospace;
    color: white;
    text-decoration: none;
}

.botoes {
    float: right;
    display: flex;
}

#game {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: none;
    border: none;
    border-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#entrar {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: none;
    border: none;
    border-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastro {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: none;
    border: 2px solid;
    border-color: #ce6fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#space {
    width: 100px;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

#voar {
    width: 50%;
    padding-bottom: 10%;
}

.foguete {
    width: 50%;
}

#foguete {
    width: 500px;
    animation: foguete 1s ease-in-out infinite alternate-reverse;
    z-index: 500;
}

@keyframes foguete {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0px)
    }
}

#meteoro {
    position: absolute;
    right: 0px;
    top: 220px;
    animation: meteoro 35s linear infinite;
}

@keyframes meteoro {
    from {
        transform: translate(0px, -200px)
    }
    to {
        transform: translate(-2500px, 500px)
    }
}


/* AQUI TERMINA AS ANIMAÇÕES DA GAME */